.content {
  margin-left: $sidebar-width + 3rem;
  margin-right: 3rem;
  padding-bottom: 4rem;
}

// Some non-layout things here but meh
.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  width: $sidebar-width;
  padding: 2rem 1rem;
  text-align: left;
  margin-bottom: 0;
  background-color: $main-colour;
  color: white;
  display: flex;
  align-items: flex-end;

  h1 {
    line-height: 1.3;
  }

  .active a {
    border-color: white;
  }


  &__nav {
    list-style: none;
    padding: 0;

    li {
      margin: 0;
    }

    a {
      color: white;
      border-bottom: 2px solid transparent;
      transition: border-color 0.3s ease;
      padding-bottom: 2px;

      &:hover {
        text-decoration: none;
        border-color: white;
      }
    }
  }

  &__social {
    text-align: center;
    @include font-size(1.5);

    a {
      color: rgba(255, 255, 255, 0.7);
      transition: color 0.2s linear;

      &:hover {
      color: rgba(255, 255, 255, 1);
      }
    }
  }
}


@include respond-to("small") {
  .sidebar {
    display: block;
    position: inherit;
    width: 100%;
    text-align: center;

    h1 {
      margin-top: 0;
    }

    &__content, &__social {
      margin-bottom: 0;
    }
  }

  .content {
    margin: 0 1rem;
  }
}

.projects, .resume {
  max-width: $max-width;
}
