.projects {
  h2 {
    border-bottom: 2px solid #ccc;
  }

  .project {
    margin-top: 2rem;

    &__logo {
      margin: 0 auto;
      display: block;
    }

    h3 {
      text-align: center;
      margin-top: 1rem;
      margin-bottom: 0.5rem;
    }

    .badges {
      text-align: center;

      img {
        margin-bottom: 0;
      }
    }
  }

  blockquote {
    margin-left: 0;
  }
}
