@charset "utf-8";

@import "vendor/normalize";

@import "responsive";

*, *:before, *:after {
  box-sizing: border-box;
}

body {
  font-family: 'Fira Mono', sans-serif;
  margin-bottom: 5rem;
  margin-top: 5rem;
}

p, li {
  line-height: 1.5;
  word-wrap: break-word;
}

li {
  margin-bottom: 0.5rem;
}

.more {
  word-wrap: break-word;
}

.container {
  width: 900px;
  margin: 0 auto;
}

h1 {
  margin-bottom: 1rem;
}

.tagline {
  margin-bottom: 1rem;
  font-size: 1.25rem;
}

.intro, .experiences, .side-projects {
  margin-top: 2rem;
}

.timeline {
  border-left: 1px solid #aaa;
  padding: 0 1rem 0 1.5rem;
  margin-left: 0.75rem;
}

.work {
  position: relative;
  margin-bottom: 2rem;

  &__dot {
    width: 20px;
    height: 20px;
    position: absolute;
    border: 1px solid #aaa;
    border-radius: 50%;
    z-index: 1000;
    left: -34px;
    background: white;
    // top: -3px;
  }

  &__info {
    font-weight: normal;
    display: inline-block;
    font-family: 'Fira Mono', sans-serif;
    margin-left: 0.5rem;
  }

  &--last {
    margin-bottom: 0;
  }
}

.more {
  margin-top: 2rem;
}

@include respond-to("small") {
  .container {
    width: 100%;
    max-width: 100%;
    padding: 0.5rem 1rem;
    margin-top: 0;
  }

  ul {
    padding-left: 0.5rem;
  }
}

@media print {
  body {
    padding: 0 1rem;
    margin: 0;
    font-size: 12px;
  }

  .container {
    margin-top: 0;

    p {
      margin-bottom: 0;
    }
  }

  h2 {
    margin-top: 0.5rem;
  }

  .work {
    margin-bottom: 1rem;
  }

  .more {
    margin-top: 1rem;
  }

  .download-resume {
    display: none;
  }
}
